body {
    background: black;
}

#container {
    position: absolute;
    width: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}
#canvas-screen {
    position: relative;
    width: 100%;
    height: auto; 
}

@media (min-width: 500px) {
    #canvas-screen {
        width: 500px;
        height: 600;
    }
}
#slider {
    width: 100%;
}
p {
    color: white;
}
